.Header {
    background-color: black;
    height: 2cm;
    margin-bottom: 5px;
    align-content: center;
}

.Header > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Header > ul > li {
    padding-right: 1cm;
    color: white;
    font-weight: bolder;
}

a {
    color: lightgrey;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    background-color: white;
    color: black;
    padding: 5px;
}
